* {
box-sizing: border-box;
}

body {
    margin: 0;
    color: #93826fff;
}

.site-header {
    background: #fff;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.site-header h1 {
    margin: 0;
    font-family: "Times New Roman";
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 1px;
}